
.primary {
  @apply text-gray-900;

  background: linear-gradient(90deg, #E43D12 0%, #E43D12 50%, #E43D12 100%),
    linear-gradient(0deg, #ffffff, #ffffff);
  background-size: 200% 100%;

  &:hover {
    background-position: 100% 0;
  }
}

.outline {
  @apply border-black text-black border-2;

  &:hover {
    @apply bg-white text-black opacity-90;
  }
}

.white {
  @apply bg-white text-gray-900;

  &:hover {
    @apply opacity-90;
  }
}
